<!DOCTYPE html>
<html>
<head>
  <% include partials/header.ejs %>  
</head>
<body>
  <% include partials/nav.ejs %>

  <h1>Log In</h1>
  <%if(errMessage){ %>
    <h3><%= errMessage %></h3>
  <%}%>

  <form method="POST" action="/login">
    User: <input name="username" /> <br />
    Password: <input name="password" />
    <input type="submit" value="Log In" />
  </form>

  <a href='/newuser'> Create New Account </a>
</body>
</html>
